<!DOCTYPE html>
<html>
  <head>
    <title>{{ pokemon.name|capfirst }} - Detalles</title>
    {% load static %} {% load pokemon_extras %}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
  </head>
  <body>
    <div class="container text-center my-4">
      <a href="{% url 'index' %}">
        <img
          src="{% static 'img/logo-4.png' %}"
          alt="Logo de Pokedex"
          class="logo img-fluid"
        />
      </a>
    </div>
    <div class="container">
      <h1 class="text-center mb-4">{{ pokemon.name|capfirst }}</h1>
      <div class="row justify-content-center">
        <div class="col-12 col-md-8">
          <div class="card">
            <div class="card-header d-flex justify-content-between">
              <div>
                {% for type in pokemon.types %}
                <span class="badge {{ type|type_color }} rounded-pill"
                  >{{ type }}</span
                >
                {% endfor %}
              </div>
              <span>#{{ pokemon.number }}</span>
            </div>
            <img
              src="{{ pokemon.image }}"
              class="card-img-top img-fluid"
              alt="{{ pokemon.name }}"
            />
            <div class="card-body">
              <h5 class="card-title">{{ pokemon.name|capfirst }}</h5>
              <p class="card-text">{{ pokemon.description }}</p>
              <p class="card-text">
                <strong>Height:</strong> {{ pokemon.height }} decimetres
              </p>
              <p class="card-text">
                <strong>Weight:</strong> {{ pokemon.weight }} hectograms
              </p>
              <p class="card-text">
                <strong>Base Experience:</strong> {{ pokemon.base_experience }}
              </p>
              <p class="card-text">
                <strong>Abilities:</strong> {{ pokemon.abilities|join:", " }}
              </p>
              <p class="card-text"><strong>Stats:</strong></p>
              <ul class="list-group list-group-flush">
                {% for stat, value in pokemon.stats.items %}
                <li class="list-group-item">
                  {{ stat|capfirst }}: {{ value }}
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
